{% extends 'base.html'%}
{% block main-content%}
{% load static %} 

<div class="container-fluid pro my-5">
    <div class="row justify-content-center mt-4">  
        <div class="col-12 text-center">
          <div class="heading">
              <h1>MAKEOUR</h1>
              <div class="head-sub">
                  <h1>MAKEOUR</h1>
              </div>
          </div>
        </div>
      </div>
    <div class="container-fluid process-container">
        <div class="process-step">
            <div class="process-circle pro">📢</div>
            <div class="process-text">On-ground Mobilisation</div>
        </div>
        <div class="connector"></div>
        <div class="process-step">
            <div class="process-circle pro">👩‍🍳</div>
            <div class="process-text">Selection of Entrepreneur Didis</div>
        </div>
        <div class="connector"></div>
        <div class="process-step">
            <div class="process-circle pro">🏡</div>
            <div class="process-text">Kitchen Upgradation</div>
        </div>
        <div class="connector"></div>
        <div class="process-step">
            <div class="process-circle pro">🔍</div>
            <div class="process-text">Quality Inspection</div>
        </div>
        <div class="connector"></div>
        <div class="process-step">
            <div class="process-circle pro">🚚</div>
            <div class="process-text">Logistics to Warehouse</div>
        </div>
        <div class="connector"></div>
        <div class="process-step">
            <div class="process-circle pro">📦</div>
            <div class="process-text">Delivery to Customers</div>
        </div>
    </div>
</div>

{% endblock main-content%}